# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
spark/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Local state
producer_state.json

# Kafka data
kafka-storage/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Local Kubernetes secrets
kubernetes/**/*secret*.yaml
!kubernetes/**/*secret*.example.yaml
