fastapi==0.140.7
uvicorn==0.51.0
dash==4.4.1
plotly==6.9.0
pandas==3.0.5
numpy==2.5.1
psycopg[binary]==3.3.4
confluent-kafka==2.15.0
requests==2.34.2
httpx==0.28.1
beautifulsoup4==4.15.0
python-dotenv==1.2.2
prometheus-client==0.25.0
